<<<<<<< HEAD
body{background-color: aqua;}
h1{color: blue;text-align:center;}
p{font-family: courier;}

=======
body{background-color: aqua;}
h1{color: blue;text-align:center;}
p{font-family: courier;}

>>>>>>> e8e27934333a70ff5b9b265b855b204b86224ff6
